/* VARIABLES */
.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@-webkit-keyframes showMenu {
  from {
    translate: -100% 0;
  }
  to {
    translate: 0% 0;
  }
}

@keyframes showMenu {
  from {
    translate: -100% 0;
  }
  to {
    translate: 0% 0;
  }
}
@-webkit-keyframes hideMenu {
  from {
    translate: 0% 0;
  }
  to {
    translate: -100% 0;
  }
}
@keyframes hideMenu {
  from {
    translate: 0% 0;
  }
  to {
    translate: -100% 0;
  }
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  max-width: 111rem;
  padding: 1.5rem 1.5rem;
  border-bottom: 1px solid hsl(220deg, 14%, 75%);
}

.mobile__btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  z-index: 3;
}
.mobile__links {
  font-size: 1.7rem;
  font-weight: 700;
  position: absolute;
  inset: 0;
  translate: -100% 0;
  height: 100%;
  width: 65vw;
  padding: 9.5rem 2.5rem;
  background-color: hsl(223deg, 64%, 98%);
  z-index: 2;
}
.mobile__links li {
  margin-bottom: 2.5rem;
}

.img--menu-close {
  display: none;
}
.img--logo {
  margin-left: 0.5rem;
}
.img--cart-icon {
  display: block;
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}
.img--cart-icon:hover {
  -webkit-filter: brightness(0) saturate(100%);
          filter: brightness(0) saturate(100%);
}
.img--avatar-icon {
  display: block;
  height: 2.2rem;
  width: auto;
  border-radius: 50%;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}
.img--avatar-icon:hover {
  border: 1.5px solid hsl(26deg, 100%, 55%);
}

.desktop {
  display: none;
}

.cart__btn {
  position: relative;
  padding: 1rem;
  margin-left: auto;
}
.cart__goods {
  font-size: 1rem;
  display: none;
  position: absolute;
  top: 0.4rem;
  right: 0.5rem;
  padding: 0.1rem 0.7rem;
  border-radius: 100vw;
  background-color: hsl(26deg, 100%, 55%);
  color: hsl(0deg, 0%, 100%);
}

.avatar__btn {
  padding: 1rem;
}

.cart-container {
  display: none;
  position: absolute;
  top: 7.5rem;
  right: 0;
  width: 95%;
  max-width: 36rem;
  margin: 0 0.8rem;
  border-radius: 1rem;
  background-color: hsl(223deg, 64%, 98%);
  z-index: 1;
}
.cart-container__title {
  font-weight: 700;
  padding: 2.5rem;
  border-bottom: 1px solid rgba(182, 188, 200, 0.5);
}
.cart-container__storage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.5rem;
  min-height: 19rem;
  width: 100%;
  padding: 2.5rem 2.5rem 3rem;
  -webkit-box-shadow: 0px 20px 30px -20px hsla(0deg, 0%, 0%, 0.75);
          box-shadow: 0px 20px 30px -20px hsla(0deg, 0%, 0%, 0.75);
}
.cart-container__info {
  font-weight: 700;
  -ms-flex-item-align: center;
      align-self: center;
  margin: auto 0;
  color: hsl(219deg, 9%, 45%);
}
.cart-container__btn {
  display: none;
  font-weight: 700;
  width: 100%;
  padding: 1.75rem;
  border-radius: 1rem;
  background-color: hsl(26deg, 100%, 55%);
  color: hsl(0deg, 0%, 100%);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.cart-container__btn:hover {
  opacity: 0.7;
}

.cart-item {
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  height: 5rem;
}
.cart-item__image {
  display: block;
  height: 5rem;
  border-radius: 0.5rem;
  aspect-ratio: 1/1;
}
.cart-item__description {
  color: hsl(219deg, 9%, 45%);
  overflow: hidden;
}
.cart-item__name {
  margin-bottom: 0.25em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cart-item__total {
  font-weight: 700;
  margin-left: 0.5rem;
  color: hsla(0deg, 0%, 0%, 0.75);
}
.cart-item__delete-icon {
  display: block;
  height: 4rem;
  width: 2.5rem;
  padding: 1rem;
  padding-right: 0rem;
}

.show-menu {
  -webkit-animation: showMenu 0.3s linear 0.1s forwards;
          animation: showMenu 0.3s linear 0.1s forwards;
}

.hide-menu {
  -webkit-animation: hideMenu 0.3s linear forwards;
          animation: hideMenu 0.3s linear forwards;
}

.background::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: hsla(0deg, 0%, 0%, 0.75);
  z-index: 2;
}

@media (min-width: 768px) {
  .header {
    padding: 1.5rem 1.5rem clamp(1rem, 3vw, 4rem);
  }
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
    margin-left: 5rem;
  }
  .desktop a {
    margin-right: clamp(2.5rem, 3vw, 3.5rem);
    color: hsl(219deg, 9%, 45%);
  }
}
@media (min-width: 1250px) {
  .header {
    padding: 1.5rem 0rem 4rem;
  }
}
footer {
  font-size: 1rem;
  text-align: center;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 105.5rem;
}

.lightbox {
  position: relative;
  aspect-ratio: 5/4;
  overflow: hidden;
}
.lightbox__img {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-fit: fill;
     object-fit: fill;
  -webkit-transition: translate 1s;
  transition: translate 1s;
}
.lightbox__btn {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
}
.lightbox__btn:nth-of-type(1) {
  left: 1.5rem;
}
.lightbox__btn:nth-of-type(2) {
  right: 1.5rem;
}
.lightbox__arrow {
  display: block;
  height: 4rem;
  width: 4rem;
  padding: 1.2rem 1.4rem;
  border-radius: 50%;
  background-color: #fff;
}

.thumbnails {
  display: none;
}

.product-info {
  margin: 2.5rem;
}
.product-info__brand {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: hsl(26deg, 100%, 55%);
  opacity: 0.8;
}
.product-info__heading {
  font-size: 2.6rem;
  text-transform: capitalize;
  margin: 1.5rem 0;
  color: hsl(220deg, 13%, 13%);
}
.product-info__description {
  font-size: 1.5rem;
  line-height: 25px;
  margin-bottom: 2rem;
  color: hsl(219deg, 9%, 45%);
}
.product-info__price {
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product-info__current {
  font-size: 3rem;
  color: hsl(220deg, 13%, 13%);
}
.product-info__discount {
  padding: 0.3rem 0.7rem;
  margin-left: 2rem;
  border-radius: 0.5rem;
  background-color: hsl(25deg, 100%, 94%);
  color: hsl(26deg, 100%, 55%);
  opacity: 0.8;
}
.product-info__general {
  text-decoration: line-through;
  margin-left: auto;
  color: hsl(220deg, 14%, 75%);
}
.product-info__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.8rem;
  margin-top: 2rem;
}

.selection-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(182, 188, 200, 0.2);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
}
.selection-box__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.selection-box__btn:hover {
  opacity: 0.7;
}
.selection-box__btn img {
  pointer-events: none;
}
.selection-box__number {
  font-weight: 700;
  width: 100%;
  border: none;
  background-color: transparent;
  text-align: center;
}

.cart-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  background-color: hsl(26deg, 100%, 55%);
  -webkit-box-shadow: 0px 20px 20px 0px hsl(25deg, 100%, 94%);
          box-shadow: 0px 20px 20px 0px hsl(25deg, 100%, 94%);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.cart-add:hover {
  opacity: 0.7;
}
.cart-add__cart-icon {
  -webkit-filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(306deg) brightness(103%) contrast(101%);
          filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(306deg) brightness(103%) contrast(101%);
}
.cart-add__text {
  font-weight: 700;
  color: hsl(0deg, 0%, 100%);
}

@media (min-width: 768px) {
  .product {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: clamp(2rem, 6vw, 13rem);
    padding: 0 2rem;
    margin-top: 9rem;
  }
  .product-image {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .lightbox__img {
    border-radius: 1.5rem;
  }
  .lightbox__btn {
    display: none;
  }
  .thumbnails {
    display: block;
  }
  .product-info {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 6.5rem 0 8rem;
  }
  .product-info__price {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  .product-info__general {
    display: block;
    width: 100%;
    margin-top: 0.5rem;
  }
  .product-info__cart {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .selection-box {
    width: 40%;
    margin: 0;
  }
  .selection-box__number {
    font-weight: 700;
  }
  .cart-add {
    width: 60%;
  }
}
/* SITE */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background-color: hsl(223deg, 64%, 98%);
}

button {
  font-family: "Kumbh Sans", sans-serif;
}

a {
  color: hsl(220deg, 13%, 13%);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

input[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

.active {
  display: block;
}

.hidden {
  display: none;
}/*# sourceMappingURL=style.css.map */