/* VARIABLES */
@-webkit-keyframes showMenu {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}
@keyframes showMenu {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}
@-webkit-keyframes hideMenu {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
@keyframes hideMenu {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7rem;
  padding: 2rem 1.5rem;
}

.mobile__btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
}
.mobile__btn--close {
  display: none;
}
.mobile__links {
  font-size: 1.7rem;
  font-weight: 700;
  position: absolute;
  inset: 0;
  left: -100%;
  height: 100%;
  width: 65vw;
  padding: 9.5rem 2.5rem;
  background-color: hsl(223deg, 64%, 98%);
  z-index: 1;
}
.mobile__links li {
  margin-bottom: 2.5rem;
}

.logo {
  margin-left: 0.5rem;
}

.desktop {
  display: none;
}

.cart {
  padding: 1rem;
  margin-left: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.cart__icon {
  display: block;
}

.avatar {
  padding: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.avatar__img {
  display: block;
  height: 2.2rem;
  width: auto;
}

.cart-container {
  display: none;
}

.active {
  display: block;
}

.hidden {
  display: none;
}

.show-menu {
  -webkit-animation: showMenu 0.3s linear 0.1s forwards;
          animation: showMenu 0.3s linear 0.1s forwards;
}

.hide-menu {
  -webkit-animation: hideMenu 0.3s linear forwards;
          animation: hideMenu 0.3s linear forwards;
}

.background::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: hsla(0deg, 0%, 0%, 0.75);
  z-index: 1;
}

footer {
  text-align: center;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-image {
  position: relative;
  width: 100%;
}
.product-image__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  overflow: hidden;
}
.product-image__main--img {
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 5/4;
}
.product-image__arrow-prev, .product-image__arrow-next {
  position: absolute;
  display: block;
  top: 35vw;
  height: 4rem;
  width: 4rem;
  padding: 1.2rem 1.4rem;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
.product-image__arrow-prev {
  left: 1.5rem;
}
.product-image__arrow-next {
  right: 1.5rem;
}

.thumbnails {
  display: none;
}

.product-info {
  margin: 2.5rem;
}
.product-info__brand {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: hsl(26deg, 100%, 55%);
  opacity: 0.8;
}
.product-info__heading {
  font-size: 2.6rem;
  text-transform: capitalize;
  margin: 1.5rem 0;
  color: hsl(220deg, 13%, 13%);
}
.product-info__description {
  font-size: 1.5rem;
  line-height: 25px;
  margin-bottom: 2rem;
  color: hsl(219deg, 9%, 45%);
}
.product-info__price {
  font-size: 1.6rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product-info__price--current {
  font-size: 3rem;
  color: hsl(220deg, 13%, 13%);
}
.product-info__price--discount {
  padding: 0.3rem 0.7rem;
  margin-left: 2rem;
  border-radius: 0.5rem;
  background-color: hsl(25deg, 100%, 94%);
  color: hsl(26deg, 100%, 55%);
  opacity: 0.8;
}
.product-info__price--general {
  text-decoration: line-through;
  margin-left: auto;
  color: hsl(220deg, 14%, 75%);
}
.product-info__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 1rem;
  background-color: hsl(26deg, 100%, 55%);
  -webkit-box-shadow: 0px 20px 20px 0px hsl(25deg, 100%, 94%);
          box-shadow: 0px 20px 20px 0px hsl(25deg, 100%, 94%);
  cursor: pointer;
}
.product-info__add--cart-icon {
  -webkit-filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(306deg) brightness(103%) contrast(101%);
          filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(306deg) brightness(103%) contrast(101%);
}
.product-info__add--text {
  font-size: 1.6rem;
  font-weight: 700;
  color: hsl(0deg, 0%, 100%);
}

.selection-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(182, 188, 200, 0.2);
  padding: 1rem 1.5rem;
  margin: 2rem 0 1.5rem;
  border-radius: 1rem;
}
.selection-box__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.selection-box__number {
  font-size: 1.6rem;
  font-weight: 700;
}

/* SITE */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  min-height: 100vh;
  background-color: hsl(223deg, 64%, 98%);
}

button {
  font-family: "Kumbh Sans", sans-serif;
}

a {
  color: hsl(220deg, 13%, 13%);
}/*# sourceMappingURL=style.css.map */