/* VARIABLES */
@import './abstracts/colors';
@import './abstracts/animations';
@import './layout/header';
@import './layout/footer';
@import './pages/product';

/* SITE */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Kumbh Sans', sans-serif;
	min-height: 100vh;
	background-color: $light-grayish-blue;
}

button {
	font-family: 'Kumbh Sans', sans-serif;
}

a {
	color: $very-dark-blue;
}
