/* IMPORTS - VARIABLES */
@import './components/buttons';
@import './abstracts/colors';
@import './abstracts/animations';
@import './layout/header';
@import './layout/footer';
@import './pages/product';

/* SITE */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 1.6rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	background-color: $light-grayish-blue;
}

button {
	font-family: 'Kumbh Sans', sans-serif;
}

a {
	color: $very-dark-blue;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	appearance: none;
	margin: 0;
}

input[type='number'] {
	appearance: textfield;
}

.active {
	display: block;
}

.hidden {
	display: none;
}
