header {
	display: flex;
	align-items: center;
	height: 7rem;
	padding: 2rem 1.5rem;
}

.mobile {
	&__btn {
		position: relative;
		display: flex;
		align-items: center;
		padding: 1rem;
		border: none;
		background-color: transparent;
		cursor: pointer;
		z-index: 3;

		&--close {
			display: none;
		}
	}

	&__links {
		font-size: 1.7rem;
		font-weight: 700;
		position: absolute;
		inset: 0;
		translate: -100% 0;
		height: 100%;
		width: 65vw;
		padding: 9.5rem 2.5rem;
		background-color: $light-grayish-blue;
		z-index: 2;

		li {
			margin-bottom: 2.5rem;
		}
	}
}

.logo {
	margin-left: 0.5rem;
}

.desktop {
	display: none;
}

.cart {
	position: relative;
	padding: 1rem;
	margin-left: auto;
	border: none;
	background-color: transparent;
	cursor: pointer;

	&__icon {
		display: block;
		transition: filter 0.3s;
	}

	&:hover img {
		filter: brightness(0) saturate(100%);
	}

	&__goods {
		font-size: 1rem;
		display: none;
		position: absolute;
		top: 0.4rem;
		right: 0.5rem;
		padding: 0.1rem 0.7rem;
		border-radius: 100vw;
		background-color: $orange;
		color: $white;
	}
}

.avatar {
	padding: 1rem;
	border: none;
	background-color: transparent;
	cursor: pointer;

	&__img {
		display: block;
		height: 2.2rem;
		width: auto;
		border-radius: 50%;
		transition: border 0.3s;
	}

	&:hover img {
		border: 1.5px solid $orange;
	}
}

.cart-container {
	font-size: 1.6rem;
	display: none;
	position: absolute;
	top: 7.5rem;
	right: 0;
	width: 95%;
	max-width: 36rem;
	margin: 0 0.8rem;
	border-radius: 1rem;
	background-color: $light-grayish-blue;
	z-index: 1;

	&__title {
		font-weight: 700;
		padding: 2.5rem;
		border-bottom: 1px solid rgba($grayish-blue, 0.5);
	}

	&__storage {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 2.5rem;
		min-height: 19rem;
		width: 100%;
		padding: 2.5rem 2.5rem 3rem;
		box-shadow: 0px 20px 30px -20px $black-with-75-opacity;

		&--info {
			font-weight: 700;
			align-self: center;
			margin: auto 0;
			color: $dark-grayish-blue;
		}

		&--checkout {
			display: none;
			font-size: 1.6rem;
			font-weight: 700;
			width: 100%;
			padding: 1.75rem;
			border: none;
			border-radius: 1rem;
			background-color: $orange;
			color: $white;
			cursor: pointer;
			transition: opacity 0.3s;

			&:hover {
				opacity: 0.7;
			}
		}
	}
}

.cart-item {
	font-size: 1.4rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1.5rem;
	height: 5rem;

	&__image {
		display: block;
		height: 5rem;
		border-radius: 0.5rem;
		aspect-ratio: 1/1;
	}

	&__description {
		color: $dark-grayish-blue;
		overflow: hidden;

		&--name {
			margin-bottom: 0.25em;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&--total {
			font-weight: 700;
			margin-left: 0.5rem;
			color: $black-with-75-opacity;
		}
	}

	&__btn {
		border: none;
		background-color: transparent;

		&--delete {
			display: block;
			height: 4rem;
			width: 2.5rem;
			padding: 1rem;
			padding-right: 0rem;
			cursor: pointer;
		}
	}
}

.active {
	display: block;
}

.hidden {
	display: none;
}

.show-menu {
	animation: showMenu 0.3s linear 0.1s forwards;
}

.hide-menu {
	animation: hideMenu 0.3s linear forwards;
}

.background::before {
	content: '';
	position: absolute;
	inset: 0;
	background-color: $black-with-75-opacity;
	z-index: 2;
}

@media (min-width: 420px) {
}
