header {
	display: flex;
	align-items: center;
	height: 7rem;
	padding: 2rem 1rem;
}

.mobile {
	&__btn {
		display: flex;
		align-items: center;
		padding: 1rem;
		border: none;
		background-color: transparent;
		cursor: pointer;

		&--close {
			display: none;
		}
	}

	&__links {
		display: none;
	}
}

.logo {
	margin-left: 0.5rem;
}

.desktop {
	display: none;
}

.cart {
	padding: 1rem;
	margin-left: auto;
	border: none;
	background-color: transparent;
	cursor: pointer;

	&__icon {
		display: block;
	}
}

.avatar {
	padding: 1rem;
	border: none;
	background-color: transparent;
	cursor: pointer;

	&__img {
		display: block;
		height: 2.2rem;
		width: auto;
	}
}

.cart-container {
	display: none;
}

@media (min-width: 420px) {
}
